/*
 * Style for the settings menu.
 * Scrumbledore, a faithful recreation of Bubble Bobble.
 * 
 * @author David Alderliesten.
 */
 
 .root {
 	-fx-background-color: #1d1d1d;
 }
 
 #gameviewtop {
 	-fx-background-color: #32b8f1;
 	-fx-text-fill: #1d1d1d;
 	-fx-font-weight: bold;
 	-fx-font-size: 15.0px;
 }
 
 #gameviewscores {
 	-fx-background-color: #333333;
 	-fx-text-fill: #32b8f1;
 	-fx-font-weight: bold;
 	-fx-font-size: 15.0px;
 }