/*
 * Style for the settings menu.
 * Scrumbledore, a faithful recreation of Bubble Bobble.
 * 
 * @author David Alderliesten.
 */
 
  .root {
 	-fx-background-color: #1d1d1d;
 }
 
 #settingstitle {
 	-fx-text-fill: #32b8f1;
 	-fx-font-weight: bold;
 	-fx-font-size: 35.0px;
 	-fx-padding: 0.0 0.0 0.0 11.0;
 }